:root{
    --fonte-principal: 'Sarala', sans-serif;
    --cor-fonte-principal: #273142;
    --cor-fonte-menu: #fff;
    --cor-fonte-menu-hover: #ddd; 
    
    --cor-blocos: #4c0000;
    --cor-fonte-texto: #300d28;
    --cor-fonte-menu1: #b9d48b;
    --cor-hover-blocos: #8d2036;
}

 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    /*width: 100vw;*/
    min-height: 100vh;
} 

.container-topo{
    display: flex;
    flex-direction: column;
    height: 22vh;
    align-items: center;
    justify-content: flex-start;
    border: none;
    background-color: #4c0000;
    box-shadow: 0px 0px 20px 4px rgb(0, 0, 0);
    z-index: 20;
}

.container-topo .barra-superior{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7vh;
    gap: 2%;
    padding: 5px 30px;
    align-items: center;
    justify-content: flex-end;
    background-color: #ddd;
}

.container-topo .barra-superior button{
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px #000, inset 0px 0px 15px 1px #000;

}

.container-topo .barra-superior img{
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    background-color: #300d28;
    border-radius: 35px;
}

.container-topo .barra-superior img:hover{
    background-color: #948d92;
}

.container-topo .menu-icone{
    display: none;
    width: 25vw;
    height: 100%;
    background-color: #4c0000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #949494;
    font-size: 3.0em;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
}

.container-topo .menu-icone:hover{
    box-shadow: 0px 0px 12px 5px #850808, inset 0px 0px 8px 4px #850808;
    text-shadow: 0px 0px 5px #ddd;
    color: #fff;
}

.container-topo .container-navegacao{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-blocos);
}

.container-topo .container-navegacao ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: space-around;
    list-style: none;
}

.container-topo .container-navegacao ul li{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    font-family: var(--fonte-principal);
}

.container-navegacao ul li a{
    display: flex;
    flex-direction: row;
    color: var(--cor-fonte-menu);
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-navegacao ul li a:hover{
    background-color: #850808;
    color: #fff;
    text-shadow: /*2px 1px 0px var(--cor-fonte-menu-hover)*/
                1px 1px 10px #ddd, 
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
    text-decoration: none;
    box-shadow: inset 0px 0px 5px 1px #a71313;
}

.container-principal{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-principal .conteudo-principal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    min-width: 1024px;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../assets/imagens/computer-1185626_1920.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container-principal .conteudo-principal-titulo{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
    font-weight: 900;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-principal);
    text-shadow: 0px 5px 30px #ffffff;
    z-index: 1;
}

.container-principal .conteudo-principal-botao{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    font-family: 'Sarala', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    background-color: #ffffff;
    width: 180px;
    height: 60px;
    margin-top: 2%;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
    text-shadow: 0px 0px 10px #fff;
    align-items: center;
    justify-content: center;
    animation: pulso-botao 3s infinite;
}

.container-principal .conteudo-principal-botao:hover{
    background-color: #333;
    color: var(--cor-fonte-menu-hover);
    text-shadow: 0px 0px 20px #fff;
    cursor: pointer;
    animation: pulso-hover-botao 3s infinite;
}

/*sobre*/

.container-principal .conteudo-principal-sobre{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    min-width: 1024px;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/imagens/computer-767776_1920.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container-principal .conteudo-principal-sobre-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    min-height: 80vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    background-color: var(--cor-blocos); 
    border-radius: 30px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
    z-index: 11;
}

.container-principal .conteudo-principal-sobre-titulo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15%;
    font-size: 2.0em;
    font-family: var(--fonte-principal);
    color: #fff;
    font-weight: 400;
    text-shadow: 0px 0px 10px var(--cor-fonte-principal);
    font-style: italic;
    background-color: #a71313;
    clip-path: polygon(
        70% 0%,
        100% 0%,
        100% 100%,
        65% 100%
    );
}

.conteudo-principal-sobre-container .conteudo-principal-sobre-texto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 1.4em;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-menu);
    font-weight: 400;
    text-shadow: 0px 0px 10px var(--cor-fonte-principal);
}


/*contato*/

.container-principal-contato{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    min-width: 1024px;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/imagens/computer-1185626_1920.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
    

.container-principal-contato .conteudo-principal-contato{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    min-height: 80vh;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor-blocos);  
    border-radius: 30px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
    z-index: 11;
}

.container-principal-contato .conteudo-principal-contato-titulo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 20vh;
    align-items: center;
    padding-right: 5%;
    justify-content: flex-end;
    font-size: 2.0em;
    font-family: var(--fonte-principal);
    color: #fff;
    font-weight: 400;
    text-shadow: 0px 0px 10px var(--cor-fonte-principal);
    font-style: italic;
    background-color: #a71313;
    clip-path: polygon(
        70% 0%,
        100% 0%,
        100% 100%,
        65% 100%
    );
}

.container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-itens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-itens a img{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-itens a img:hover{
    animation: pulso-hover-botao 3s infinite;
    box-shadow: 0px 0px 10px 2px #fff,
                inset 0px 0px 20px 5px #fff;
}

.container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-texto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-menu);
    font-weight: 400;
    text-shadow: 0px 0px 10px var(--cor-fonte-principal);
}

.container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-botao{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 50px;
    margin: 0;
    margin-top: 5%;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Sarala', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    background-color: #ffffff;
    width: 180px;
    height: 60px;
    margin-top: 5%;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 3px 10px 4px rgb(0, 0, 0, 0.6);
    text-shadow: 0px 0px 10px #fff;
    align-items: center;
    justify-content: center;
    animation: pulso-botao 3s infinite;
}

.container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-botao:hover{
    background-color: #333;
    color: var(--cor-fonte-menu-hover);
    text-shadow: 0px 0px 20px #fff;
    cursor: pointer;
    animation: pulso-hover-botao 3s infinite;
}


/*projetos*/

.container-principal .conteudo-principal-projetos{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    min-width: 1024px;
    max-width: 1400px;
    
    /*padding: 20px 0;*/
    /*gap: 10px;*/
    align-items: center;
    justify-content: space-around;
    background-image: url('../assets/imagens/computer-767776_1920.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.conteudo-principal-projetos .conteudo-principal-projetos-titulo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15%;
    font-size: 2.0em;
    font-family: var(--fonte-principal);
    color: #fff;
    font-weight: 400;
    text-shadow: 0px 0px 10px var(--cor-fonte-principal);
    font-style: italic;
    background-color: #a71313;
    clip-path: polygon(
        70% 0%, /* Canto superior esquerdo */
        100% 0%, /* Canto superior direito */
        100% 100%, /* Canto inferior direito */
        65% 100% /* Canto inferior esquerdo */
    );
}

.conteudo-principal-projetos section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*gap: 35px;*/
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.slide-prev{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 25%;
    width: 5%;
    transform: translateY(-50%);
    background-color: #57575796;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 50;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vh;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
}

.slide-next{    
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    height: 25%;
    width: 5%;
    transform: translateY(-50%);
    background-color: #57575796;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 50;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vh;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
}



.conteudo-principal-projetos section .conteudo-principal-projetos-projeto{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    /*gap: 15px;*/
    width: 33.3%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-blocos); ; 
    /*border-radius: 30px;*/
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
    overflow: hidden;
    background-color: #fff;
}

.conteudo-principal-projetos section .conteudo-principal-projetos-projeto:hover{
    cursor: pointer;
    animation: pulso-botao 3s infinite;
    box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.8);
    z-index: 12;
    color: #fff;
}

.conteudo-principal-projetos section .conteudo-principal-projetos-projeto img{
    display: flex;
    position: absolute;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    object-position: center;
    background-color: #ffffff;
    z-index: 1;
}

.conteudo-principal-projetos section .conteudo-principal-projetos-projeto #img-fund-antunes{
    display: flex;
    position: absolute;
    height: 80%; /* Ajuste a altura para 100% do contêiner pai */
    width: 100%; /* A largura será ajustada automaticamente */
    object-fit: contain; /* A imagem não será redimensionada */
    object-position: left center; /* Alinha a imagem à esquerda e centraliza verticalmente */
    background-color: #ffffff;
    z-index: 1;
    overflow: hidden; /* Garante que a parte direita da imagem seja ocultada */
    max-width: 100%; /* Limita a largura da imagem à metade do contêiner pai */
    clip-path: inset(0 0 0 0);
}

.conteudo-principal-projetos section .conteudo-principal-projetos-projeto #img-fund-br{
    display: flex;
    position: absolute;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    object-position: center;
    background-color: #ffffff;
    z-index: 1;
}

.conteudo-principal-projetos section .conteudo-principal-projetos-projeto iframe{
    display: none;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    background-color: #000;
}

.conteudo-principal-projetos section .conteudo-principal-projetos-projeto h1{
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
    padding: 0 20px;
    height: auto;
    width: 100%;
    top: 70%;
    align-items: center;
    justify-content: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.0em;
    font-weight: bold;
    color: #575757;
    z-index: 10;
}

.conteudo-principal-projetos section .conteudo-principal-projetos-projeto div{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5%;
    flex-wrap: wrap;
    padding: 0 20px;
    min-height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    z-index: 10;
}

.conteudo-principal-projetos section .conteudo-principal-projetos-projeto div p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    line-height: 1.5em;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    color: #949494;
}


@keyframes pulso-botao {
    0% {
        transform: scale(1);
        background-color: #fff;
    }
    50% {
        transform: scale(1.1);
        background-color: #b3b3b3;
    }
    100% {
        transform: scale(1);
        background-color: #fff;
    }
}

@keyframes pulso-hover-botao {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/*mobile 600px*/

@media (max-width: 600px) {
    
    .container-topo{
        display: block;
        position: relative;
        height: 20vh;
        padding: 0;
        margin-bottom: 5px;
    }
    
    .container-topo .barra-superior{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40%;
        gap: 2%;
        padding: 5px 20px;
    }

    .container-topo .menu-icone{
        display: flex;
        height: 60%;
    }

    .container-topo .container-navegacao{
        display: none;
        position: absolute;
        height: 50vh;
        width: 100vw;
        background-color: #4c000099;
        justify-content: flex-start;
        padding: 0;
        z-index: 50;
    }

    .container-topo .container-navegacao ul{
        flex-direction: column;
        height: 100%;
        width: 80%;
        background-color: #4c0000;
        align-items: flex-start;
        justify-content: space-around;
    }

    .container-topo .container-navegacao ul li{
        height: 20%;
        width: 100%;
        background-color: #4c0000;
        align-items: center;
        justify-content: flex-start;
    }

    .container-topo .container-navegacao ul li a{
        height: 100%;
        width: 100%;
        padding-left: 10%;
        justify-content: flex-start;
    }


    .container-principal .conteudo-principal{
        width: 100%;
        min-width: 320px;
        max-width: 600px;
    }
    
    .container-principal .conteudo-principal-titulo{
        font-size: 2.5em;
        z-index: 10;
    }
    
    .container-principal .conteudo-principal-botao{
        font-size: 1.6em;
        width: 50%;
        height: 10vh;
        margin-top: 5%;
        border-radius: 30px;
    }

    .container-principal .conteudo-principal-sobre{
        min-height: 110vh;
        min-width: 320px;
        max-width: 600px;
        justify-content: flex-start;
    }
    
    .container-principal .conteudo-principal-sobre-container{
        min-width: 90%;
    }
    
    .container-principal .conteudo-principal-sobre-titulo{
        padding-right: 15%;
        padding-top: 10%;
        font-size: 2.0em;
        clip-path: polygon(
            50% 0%,
            100% 0%,
            100% 100%,
            45% 100%
        );
    }
    
    .conteudo-principal-sobre-container .conteudo-principal-sobre-texto{
        font-size: 1.4em;
    }
 
    .container-principal-contato{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        min-width: 320px;
        max-width: 600px;
        overflow-x: hidden;
        justify-content: flex-start;
    }        
    
    .container-principal-contato .conteudo-principal-contato{
        min-width: 90%;
        min-height: 70vh;
    }
    
    .container-principal-contato .conteudo-principal-contato-titulo{
        padding-right: 5%;
        padding-top: 10%;
        font-size: 1.3em;
        clip-path: polygon(
            35% 0%,
            100% 0%,
            100% 100%,
            25% 100%
        );
    }
    
    .container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-itens{
        max-width: 100%;
        overflow-x: hidden;
        flex-wrap: wrap;
        min-height: 20vh;
    }
    
    .container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-itens a img{
        min-width: 15vw;
        min-height: 15vh;
        padding: 20px 0;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    
    .container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-texto{
        font-size: 1.3em;
        text-align: justify;
        padding: 0 20px;
        flex-wrap: wrap;
        max-width: 100%;
        text-align: justify;
    }
    
    .container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-botao{
        font-size: 1.6em;
        width: 50%;
        height: 10vh;
        margin-top: 5%;
        border-radius: 30px;
    }
    
    .container-principal .conteudo-principal-projetos{
        min-width: 320px;
        max-width: 600px;
        position: relative;
    }
    
    .conteudo-principal-projetos .conteudo-principal-projetos-titulo{
        height: 20vh;
        padding-right: 15%;
        padding-top: 10%;
        font-size: 2.0em;
        clip-path: polygon(
            40% 0%,
            100% 0%,
            100% 100%,
            35% 100%
        );
    }
    
    .conteudo-principal-projetos section{
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 100vw;
        min-height: 100vh;
        align-items: flex-start;
    }
    
    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto{
        min-width: 100%;
        min-height: 100vh;
        position: absolute;
        justify-content: center;
    }

    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto:hover{
        animation: none;
    }
    
    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto #img-fund-antunes{
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        object-position: center;
        background-color: #000;
    }
    
    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto #img-modelami{
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        object-position: center;
        background-color: #000;
    }
    
    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto #img-fund-br{
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        object-position: center;
        background-color: #000;
    }    
    
    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto div p{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        line-height: 1.5em;
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.3em;
        color: #949494;
        background-color: #fff;
        text-shadow: 0px 0px 1px #000000;
    }
        
    
}

@media (max-width: 1024px) and (min-width: 601px) {
    
    .container-topo{
        display: block;
        position: relative;
        height: 20vh;
        padding: 0;
        margin-bottom: 5px;
    }
    
    .container-topo .barra-superior{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40%;
        gap: 2%;
        padding: 5px 20px;
    }

    .container-topo .menu-icone{
        display: flex;
        height: 60%;
        width: 20%;
    }

    .container-topo .container-navegacao{
        display: none;
        position: absolute;
        height: 50vh;
        width: 100vw;
        background-color: #4c000099;
        justify-content: flex-start;
        padding: 0;
        z-index: 50;
    }

    .container-topo .container-navegacao ul{
        flex-direction: column;
        height: 100%;
        width: 80%;
        background-color: #4c0000;
        align-items: flex-start;
        justify-content: space-around;
    }

    .container-topo .container-navegacao ul li{
        height: 20%;
        width: 100%;
        background-color: #4c0000;
        align-items: center;
        justify-content: flex-start;
    }

    .container-topo .container-navegacao ul li a{
        height: 100%;
        width: 100%;
        padding-left: 10%;
        justify-content: flex-start;
    }


    .container-principal .conteudo-principal{
        width: 100%;
        min-width: 601px;
        max-width: 1024px;
    }
    
    .container-principal .conteudo-principal-titulo{
        font-size: 2.5em;
        z-index: 10;
    }
    
    .container-principal .conteudo-principal-botao{
        font-size: 1.6em;
        width: 50%;
        height: 10vh;
        margin-top: 5%;
        border-radius: 30px;
    }

    .container-principal .conteudo-principal-sobre{
        min-height: 110vh;
        min-width: 601px;
        max-width: 1024px;
        justify-content: flex-start;
    }
    
    .container-principal .conteudo-principal-sobre-container{
        min-width: 90%;
    }
    
    .container-principal .conteudo-principal-sobre-titulo{
        padding-right: 20%;
        font-size: 3.0em;
        clip-path: polygon(
            50% 0%,
            100% 0%,
            100% 100%,
            45% 100%
        );
    }
    
    .conteudo-principal-sobre-container .conteudo-principal-sobre-texto{
        font-size: 1.8em;
    }
 
    .container-principal-contato{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        min-width: 601px;
        max-width: 1024px;
        overflow-x: hidden;
        justify-content: flex-start;
    }        
    
    .container-principal-contato .conteudo-principal-contato{
        min-width: 90%;
        min-height: 70vh;
    }
    
    .container-principal-contato .conteudo-principal-contato-titulo{
        padding-right: 10%;
        font-size: 3.0em;
        clip-path: polygon(
            35% 0%,
            100% 0%,
            100% 100%,
            25% 100%
        );
    }
    
    .container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-itens{
        min-width: 60%;
        max-width: 100%;
        overflow-x: hidden;
        flex-wrap: wrap;
        min-height: 20vh;
    }
    
    .container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-itens a img{
        min-width: 15vw;
        min-height: 15vh;
        padding: 20px 0;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    
    .container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-texto{
        font-size: 1.8em;
        text-align: justify;
        padding: 0 20px;
        flex-wrap: wrap;
        max-width: 100%;
        text-align: justify;
    }
    
    .container-principal-contato .conteudo-principal-contato .conteudo-principal-contato-botao{
        font-size: 2.0em;
        width: 35%;
        height: 12vh;
        margin-top: 5%;
        border-radius: 30px;
    }
    
    .container-principal .conteudo-principal-projetos{
        min-height: 110vh;
        min-width: 601px;
        max-width: 1024px;
        position: relative;
    }
    
    .conteudo-principal-projetos .conteudo-principal-projetos-titulo{
        height: 20vh;
        padding-right: 20%;
        font-size: 3.0em;
        clip-path: polygon(
            40% 0%,
            100% 0%,
            100% 100%,
            35% 100%
        );
    }
    
    .conteudo-principal-projetos section{
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 100vw;
        min-height: 100vh;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .slide-prev,
    .slide-next {
        display: none;
        top: 50%;
        width: 10%;
    }

    .slide-active {
        display: block;
      }

    
    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto{
        min-width: 100%;
        min-height: 100vh;
        position: absolute;
        justify-content: center;
    }

    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto:hover{
        animation: none;
    }
    
    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto #img-fund-antunes{
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        object-position: center;
        background-color: #fff;
    }
    
    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto #img-modelami{
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        object-position: center;
        background-color: #000;
    }
    
    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto #img-fund-br{
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        object-position: center;
        background-color: #fff;
    }    
    
    .conteudo-principal-projetos section .conteudo-principal-projetos-projeto div p{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        line-height: 1.5em;
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.3em;
        color: #949494;
        background-color: #fff;
        text-shadow: 0px 0px 1px #000000;
    }
        
    
}